/* 英文字体 */
/*
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    src: url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot");
    src: local("Josefin Sans"), local("JosefinSans-Normal"),
    	 url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix") format("embedded-opentype"),
    	 url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2") format("woff2"),
    	 url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff") format("woff"),
    	 url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf") format("truetype"),
    	 url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans") format("svg");
}
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Katex 字体 */
/*
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=EB+Garamond:wght@500&display=swap');
.katex .base {
	font-family: EB Garamond,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	font-size: 1rem;
}
*/