/* 英文字体 */
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    src: url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot");
    /* IE9 Compat Modes */
    src: local("Josefin Sans"), local("JosefinSans-Normal"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2") format("woff2"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff") format("woff"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf") format("truetype"), url("//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans") format("svg");
    /* Legacy iOS */
}